<h2>Regions</h2>
<md-tabs md-dynamic-height md-border-bottom>
  <template md-tab label="east">
    <region [schools]="schools?.east" (drafted)="draft($event)"></region>
  </template>
  <template md-tab label="west">
    <region [schools]="schools?.west" (drafted)="draft($event)"></region>
  </template>
  <template md-tab label="south">
    <region [schools]="schools?.south" (drafted)="draft($event)"></region>
  </template>
  <template md-tab label="midwest">
    <region [schools]="schools?.midwest" (drafted)="draft($event)"></region>
  </template>
</md-tabs>
