<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <md-card id="scores-card">
    <md-card-title>
      <md-card-title-text>
        <div class="loaded">
          <span class="md-headline">Scores</span>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-divider></md-divider>
      <md-content>
        <div class="scores-table">
          <div class="score-row" *ngFor="#team of fantasyTeams | async; #index = index">
            <h4>
              <span class="seed">{{ index + 1 }}</span>
              <span class="name"><a
                                  class="team-link"
                                  md-button
                                  [routerLink]="['Team', {slug: team.slug}]"
                                  >{{team.name}}</a></span>
              <span class="points">{{ team.points }}</span>
            </h4>
          </div>
        </div>
        <p class="instructions">Select a team for more details.</p>
      </md-content>
    </md-card-content>
  </md-card>
</md-content>
