<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <md-card id="scores-card">
    <md-card-title>
      <md-card-title-text>
        <div class="loaded">
          <span class="md-headline">Scores<a class="all-teams md-raised md-primary"
              md-button md-raised-button md-ink
              [routerLink]="['Teams']">View All Teams <div class="md-ripple-container"></div></a></span>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-divider></md-divider>
      <md-content>
        <div class="unloaded" *ngIf="loading"><spinner size="64"></spinner></div>
        <div class="scores-table" *ngIf="!loading">
          <div class="score-row" *ngFor="#team of fantasyTeams; #index = index">
            <h4>
              <span class="seed">{{ index + 1 }}</span>
              <span class="name"
                [class.cant-win]="team.eliminated && (index + 1) > 3"><a
                                  class="team-link"
                                  [class.eliminated]="team.eliminated"
                                  md-button
                                  [routerLink]="['Team', {slug: team.slug}]"
                                  >{{team.name}}</a></span>
              <span class="points"
                [class.eliminated]="team.eliminated"
                *ngIf="team.loaded">{{ team.points }}</span>
              <span class="points" *ngIf="!team.loaded"><spinner size="16"></spinner></span>
            </h4>
          </div>
          <p class="instructions">Select a team for more details.</p>
        </div>
      </md-content>
    </md-card-content>
  </md-card>
</md-content>
