

.table {
  max-width: 600px;

  td {
    vertical-align: middle;
  }

  .sortable {
    cursor: pointer;
  }

  .sort-order {
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
}

tr.table-danger {
  text-decoration: line-through;
}
