<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th class="sortable" (click)="sort('seed')">Seed <span class="sort-order"
          [class.show]="sortingBy('seed')"
          ><span *ngIf="isAscending()">&#9660;</span><span *ngIf="!isAscending()">&#9650;</span></span></th>
        <th class="sortable" (click)="sort('name')">School <span class="sort-order"
          [class.show]="sortingBy('name')"
          ><span *ngIf="isAscending()">&#9660;</span><span *ngIf="!isAscending()">&#9650;</span></span></th>
        <th class="sortable" (click)="sort('ep')">EP <span class="sort-order"
          [class.show]="sortingBy('ep')"
          ><span *ngIf="isAscending()">&#9660;</span><span *ngIf="!isAscending()">&#9650;</span></span></th>
        <th class="sortable" (click)="sort('region')">Region <span class="sort-order"
          [class.show]="sortingBy('region')"
          ><span *ngIf="isAscending()">&#9660;</span><span *ngIf="!isAscending()">&#9650;</span></span></th>
        <th>
          <button
            *ngIf="!showOnlyAvailable"
            md-raised-button
            class="md-raised md-warn draft"
            (click)="showOnlyAvailable = true">Hide Drafted</button>
          <button
            *ngIf="showOnlyAvailable"
            md-raised-button
            class="md-raised draft"
            (click)="showOnlyAvailable = false">Show All</button></th>
        <th>Drafted By</th>
      </tr>
    </thead>
    <tbody click="console.log('ifjsdijfidjf')">
      <tr *ngFor="#school of schools | async | orderBy : sortOrder | undrafted : showOnlyAvailable"
          [class.table-danger]="school.drafted">
        <td>{{school.seed}}</td>
        <td (click)="draft(school)">{{school.name}}</td>
        <td>{{school.ep}}</td>
        <td>{{school.region}}</td>
        <td>
          <button
            *ngIf="!school.drafted"
            md-raised-button
            class="md-raised md-primary draft"
            (click)="draft(school)">Draft</button>
        </td>
        <td>
          {{school.pick?.team?.name}}
        </td>
      </tr>
    </tbody>
  </table>
</md-content>
