

.table {
  max-width: 650px;

  td, th {
    vertical-align: middle;
  }

  .sortable {
    cursor: pointer;
  }

  .draft {
    margin: 0 auto;
    width: 100%;
  }

  .sort-order {
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
}

tr.table-danger {
  text-decoration: line-through;
}
