<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>Seed</th>
        <th>School</th>
        <th>EP</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="#school of schools | async" [class.table-danger]="school.drafted">
        <td>{{school.seed}}</td>
        <td>{{school.name}}</td>
        <td>{{school.ep}}</td>
        <td>{{school.region}}</td>
      </tr>
    </tbody>
  </table>
</md-content>
