.sortable-item:hover {
  cursor: pointer;
}

md-list {
  // justify-content: space-around;
  // min-width: 600px;
}

md-subheader {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

:host {
  display: flex;
  justify-content: space-around;
}

h2 {
  width: 100%;
}

.md-list-item-text {
  width: 100%;
}

.edit {
  float: right;
  position: relative;
  top: -4px;
  margin-left: 20px;
}
