<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <div flex="100" layout="column">
    <md-list>
      <md-subheader>Draft Picks</md-subheader>
      <md-list-item class="md-3-line"
        *ngIf="draftPicks.length > 0"
        *ngFor="#pick of draftPicks; #index = index; #last = last">
        <div
          *ngIf="pick"
          class="md-list-item-text"
          layout="column"
          flex="50">
          <h2>{{ index + 1 }}: {{ pick.school.name }}</h2>
          <h3> Team: {{ pick.team }}</h3>
          <button
            *ngIf="last"
            class="md-raised md-warn"
            md-raised-button
            flex="15"
            (click)="undraft(pick)">Undo Draft Pick</button>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div *ngIf="draftPicks.length === 0">No picks yet.</div>
</md-content>
