<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <div flex="100" layout="column">
    <md-list>
      <md-subheader>Draft Picks</md-subheader>
      <md-list-item class="md-3-line"
        *ngFor="#pick of draftPicks; #index = index"
        *ngIf="draftPicks.length > 0 && pick">
        <div
          class="md-list-item-text"
          layout="column"
          flex="50">
          <h2>{{ index + 1 }}: {{ pick.school.name }}</h2>
          <h3> Team: {{ pick.team.name }}</h3>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div *ngIf="draftPicks.length === 0">No picks yet.</div>
  <button
    *ngIf="draftPicks.length > 0"
    class="md-raised md-warn"
    md-raised-button
    flex="40"
    (click)="undraftLast()">Undo Last Draft Pick</button>
</md-content>
