@import 'src/assets/styles/base';

span.updating {
  opacity: 0;
}

a.router-link-active {
  background: rgba(158, 158, 158, 0.2);
}

.back-button {
  width: 36px;
  font-size: 36px;
  font-weight: 600;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

.md-toolbar-tools {

  spinner {
    margin-right: 10px;
    margin-top: 4px;
  }

}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.page {
  padding-top: 80px;
}
