@import 'src/assets/styles/base';

span.updating {
  opacity: 0;
}

a.router-link-active {
  background: rgba(158, 158, 158, 0.2);
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.page {
  margin-top: 80px;
}
