<md-content>
  <div class="games-table">
    <div class="unloaded" *ngIf="!loaded"><spinner size="64"></spinner></div>
    <div class="loaded" *ngIf="loaded">
      <div class="round" *ngFor="#round of rounds; #i = index">
        <div class="round-detail" *ngIf="round && round.length > 0">
          <hr *ngIf="i !== 0">
          <h5>Round {{ 6 - i }}</h5>
          <div class="game-row" *ngFor="#game of round"
            [class.winner]="winner(game)"
            [class.loser]="loser(game)"
            >
            <div class="teams">
              <span class="school school0"
                *ngIf="game.schools && game.schools[0]"
                [class.home]="ownerOf(game.schools[0].id)"
                ><span class="seed">{{ game.schools[0].seed }}</span><span class="name">{{ game.schools[0].name }}</span></span>
              <span class="school school0" *ngIf="!game.schools || !game.schools[0]">TBD</span>
              <span class="vs">vs</span>
              <span class="school school1"
                *ngIf="game.schools && game.schools[1]"
                [class.home]="ownerOf(game.schools[1].id)"
                ><span class="seed">{{ game.schools[1].seed }}</span><span class="name">{{ game.schools[1].name }}</span></span>
              <span class="school school1" *ngIf="!game.schools || !game.schools[1]">TBD</span>
            </div>
            <span class="opponent" *ngIf="game.opponent">against {{ game.opponent && game.opponent.name || '' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</md-content>

<!-- <table class="table">
  <thead class="thead default">
    <tr>
      <th>Round</th>
      <th>Region</th>
      <th>School1</th>
      <th>School2</th>
      <th>Opponent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#game of games | async">
      <td>{{ game.round }}</td>
      <td>{{ game.region }}</td>
      <td>{{ game.schools && game.schools[0] && game.schools[0].name || '' }}</td>
      <td>{{ game.schools && game.schools[1] && game.schools[1].name || '' }}</td>
      <td>{{ game.opponent && game.opponent.name || '' }}</td>
    </tr>
  </tbody>
</table> -->
