.game-row {
  margin-left: 10px;
  margin-right: 10px;
  padding: 14px;
  border: 1px solid #aaa;
  text-align: center;

  border-top-width: 0px;
  &.first {
    border-top-width: 1px;
  }

  hr {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  &.winner {
    background: rgb(67, 204, 64);
  }

  &.loser {
    background: rgb(223, 19, 50);

    .points {
      text-decoration: line-through;
    }
  }

  &.loser, &.winner {
    color: white;
    border-color: #555;

    hr {
      color: white;
      border-color: white;
    }

    .home {
      border-color: white;
    }
  }
}

.school {
  display: inline-block;
  padding: 2px 4px;
}

.schools {
  padding-bottom: 6px;
}

.home {
  border: 1px solid black;
}

.unloaded {
  margin-top: 20px;
}

.seed {
  font-size: 14px;
  margin-right: 4px;
}

.vs {
  margin-left: 10px;
  margin-right: 10px;
}

.opponent {
  display: block;
  padding-top: 6px;
}

.points {
  display: block;
}
