.game-row {
  margin-left: 10px;
  margin-right: 10px;
  padding: 14px;
  border: 1px solid #aaa;
  text-align: center;

  &.winner {
    background: rgb(67, 204, 64);
    color: white;

    .home {
      border-color: white;
    }
  }

  &.loser {
    background: rgb(223, 19, 50);
    color: white;

    .home {
      border-color: white;
    }
  }
}

.school {
  display: inline-block;
  padding: 2px 4px;
}

.home {
  border: 1px solid black;
}

.unloaded {
  margin-top: 20px;
}

.seed {
  font-size: 14px;
  margin-right: 4px;
}

.vs {
  margin-left: 10px;
  margin-right: 10px;
}

.opponent {
  padding-top: 10px;
}
